<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370437669649-rkdblfrdt19vlaftj4dvu9g0uqev90qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370437669649-rkdblfrdt19vlaftj4dvu9g0uqev90qi</string>
	<key>API_KEY</key>
	<string>AIzaSyA7VMe_subeQWXi-sknp2byrm3l390ay2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>370437669649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mochilas</string>
	<key>PROJECT_ID</key>
	<string>loja-mochilas</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-mochilas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370437669649:ios:d2f1cde51c17960dc082b0</string>
</dict>
</plist>